/* global styles */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {

}

/* landing page collage */
.grid-collage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 60%;
    padding: 0 5%;
}

.grid-collage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* use object-fit: cover; to fill the grid cell entirely */
    border-radius: 5px;
}

/* grid items */
.ticket {
    grid-column: 1 / 4;
    grid-row: 1;
}

.violins {
    grid-column: 4 / 6;
    grid-row: 1;
}

.opera {
    grid-column: 1 / 3;
    grid-row: 2;
}

.drum-set {
    grid-column: 3 / 6;
    grid-row: 2;
}

/* landing page container */
.landing-page-container {
    background-color: #313131 !important;
}

/* input bar styles */
.input-bar-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.input-bar {
    padding: 10px;
    background-color: pink;
    width: 100%;
    max-width: 800px;
    margin: 2.5%;
}

/* input bar child elements */
.input-location {
    width: 20%;
    padding: 1.5% 2%;
    border: none;
}

.input-text {
    width: 50%;
    padding: 1.5% 2%;
    border: none;
}

/* search button */
.search-button {
    display: inline-block;
    padding: 1.5% 2%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 20%;
    border: none;
}

.location-button {
    padding: 2% 4%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 50%;
    border: none;
}

.space-button{
    padding: 10% 10% 10% 10%;
}


/* fonts for text center landing */
.text-margin-landing p {
    font-size: 2.5rem;
    color: white;
    padding: 10% 10% 10% 10%;
}

.text-margin-landing {
    margin: 2% 2% 2% 2%;
}

.text-center-landing{
    display: flex;
    justify-content: center;
    align-content: center;
}

.margin-padding-titles{
    margin: 1%;
}


.grid-collage {
    margin: 2% 0 2% 0;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-cards-near-user {
    justify-content: space-between;
    align-content: center;
    margin: 1rem;
}

/*.grid-card-item {*/
/*    box-sizing: border-box;*/
/*    width: 25rem;*/
/*    height: 20rem;*/
/*    border: 2px solid red;*/
/*}*/

.grid-card-item {
    display: flex;
    flex-direction: column;
}

.img-container {
    height: 300px; /* Set the desired height for the card image */
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image fit the container without stretching */
}

.events-title-container{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.location-button-href{
    text-decoration: none;
    color: white!important;
    cursor: pointer;
}

.info-box-containers{
    display: flex;
    justify-content: space-evenly;
}

.info-box-containers div{
    margin: 0 1rem;
    padding: 1rem;
}


.info-landing-section{
    background-color: #6F6F6F;
}

.info-landing-section h3{
    color: white;
    font-size: 2rem;
}

.info-landing-section h4{
    color: white;
    font-size: 1.40rem;
}

.info-landing-section p{
    color: white;
    font-size: 1rem;
}

.info-landing-margin{
    margin: 0 1% 0 1%;
    padding: 1%;
}


/*.info-container-border{*/
/*    border: 2px #414141 solid;*/
/*}*/

.testimonial-flex{
    display: flex;
}

.testimonial-flex-people{
    display: flex;
}

.testimonial-bg{
    background-color: #9A9A9A;
}

.testimonial-size{
    width: 20rem!important;
}
/*.testimonial-size{*/
/*    max-width: 80%;*/
/*    !*height: 600px!important;*!*/
/*    margin: 2%;*/
/*}*/


.custom-blockquote-icon {
    /* Replace #your-color with the desired background color */
    background-color: #B81616;
}

.info-icons{
    color: #B81616;
    height: 12%;
    margin: 1%;
    padding: 2%;
}
/* media query for smaller screens */
@media screen and (max-width: 768px) {
    /* adjust landing page collage for smaller screens */
    .grid-collage {
        width: 80%;
    }

    /* adjust landing page container for smaller screens */
    .landing-page-container {
        flex-direction: column;
        padding: 4%;
    }

    /* adjust grid collage and text center landing for smaller screens */
    .grid-collage {
        width: 100%;
        margin: 0;
        padding: 0;
        order: 2;
    }

    .grid-cards-near-user {
        margin: 1rem 2rem;
    }

    .info-box-containers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .text-center-landing{
        display: block;
    }

    .margin-padding-titles{
        margin: 5%;
    }


}

/* media query for larger screens */
@media screen and (min-width: 769px) {
    /* center larger screens with flexbox */
    .center-landing {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}


.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}



